/*==================================================
            RESPONSIVE.CSS
==================================================*/


/*==========================
      1400px
==========================*/

@media (max-width:1400px){

.hero{

grid-template-columns:1fr 400px;

gap:60px;

}

.hero h1{

font-size:80px;

}

.section{

padding:110px 7%;

}

}


/*==========================
      1200px
==========================*/

@media (max-width:1200px){

.navbar{

gap:22px;

}

.hero{

grid-template-columns:1fr;

text-align:center;

}

.hero-left{

order:2;

}

.hero-right{

order:1;

margin-bottom:60px;

}

.hero-description{

margin:auto;

margin-bottom:40px;

}

.hero-button{

justify-content:center;

}

.hero-social{

justify-content:center;

}

.about-content{

grid-template-columns:1fr;

}

.skills-grid{

grid-template-columns:repeat(2,1fr);

}

.projects-grid{

grid-template-columns:1fr;

}

.certificate-grid{

grid-template-columns:repeat(2,1fr);

}

}


/*==========================
      992px
==========================*/

@media (max-width:992px){

.header{

padding:20px 6%;

}

.section{

padding:90px 6%;

}

.hero h1{

font-size:68px;

}

.hero h2{

font-size:28px;

}

.profile-card{

width:340px;

height:430px;

}

.experience-card{

grid-template-columns:1fr;

}

.timeline{

padding-left:35px;

}

}


/*==========================
      768px
==========================*/

@media (max-width:768px){

.header{

flex-direction:column;

gap:18px;

}

.navbar{

flex-wrap:wrap;

justify-content:center;

gap:16px;

}

.section-title{

flex-direction:column;

align-items:flex-start;

gap:10px;

}

.section-title h2{

font-size:42px;

}

.hero{

padding-top:170px;

}

.hero h1{

font-size:52px;

}

.hero h2{

font-size:24px;

}

.hero-description{

font-size:16px;

}

.profile-card{

width:300px;

height:380px;

}

.skills-grid{

grid-template-columns:1fr;

}

.certificate-grid{

grid-template-columns:1fr;

}

.contact-container{

grid-template-columns:1fr !important;

}

.footer-top{

flex-direction:column;

gap:30px;

}

.footer-bottom{

flex-direction:column;

gap:20px;

}

}


/*==========================
      576px
==========================*/

@media (max-width:576px){

.section{

padding:80px 5%;

}

.hero h1{

font-size:42px;

}

.hero h2{

font-size:20px;

}

.hero-button{

flex-direction:column;

}

.btn-primary,

.btn-secondary{

width:100%;

}

.profile-card{

width:260px;

height:330px;

}

.project-info{

padding:22px;

}

.project-info h3{

font-size:22px;

}

.about-text h3{

font-size:30px;

}

.timeline-content{

padding:22px;

}

.experience-card{

padding:28px;

}

.contact-right input,

.contact-right textarea{

font-size:15px;

}

}


/*==========================
      400px
==========================*/

@media (max-width:400px){

.hero h1{

font-size:34px;

}

.section-title h2{

font-size:34px;

}

.logo{

font-size:16px;

}

.navbar a{

font-size:13px;

}

.profile-card{

width:220px;

height:280px;

}

}